*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background: #424141;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-photo{
    width: 120px;
}

.menus{
    display: flex;
    

}

.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;

}

.item:hover{
    color: blue;
}

.ban-img{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url('images/background.png'), linear-gradient(45deg, rgb(8,8,8), rgb(53, 53, 53));
    color: white;
}

.title{
    font-size: 54px;
    font-weight: bold;

}

.description{
    font-size: 18px;
    margin-top: 15px;
}

.btn {
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
}
