* {
  margin: 0;
  padding: 0;
}

.menu-container {
  background: #424141;
  padding: 20px;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-photo {
  width: 120px;
}

.menus {
  display: flex;
}

.item {
  margin-right: 10px;
  padding-right: 7px;
  font-size: 18px;
  cursor: pointer;
}

.item:hover {
  color: blue;
}

.img {
  width: 300px;
}

/* banner section styles */

.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  background-image: url("images/background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
  color: white;
}

.title {
  font-size: 54px;
  font-weight: bold;
}

.description {
  font-size: 18px;
  margin-top: 15px;
}

.btn {
  margin-top: 20px;
  padding: 13px 20px;
  outline: none;
  background-color: red;
  border-radius: 3px;
  border: none;
  color: white;
}

/* about section styles */
.about-container {
  display: flex;
  padding: 25px;
  justify-content: space-around;
  margin-top: 20px;
}

.about-us {
  text-align: center;
  padding-top: 20px;
}

.about-heading {
  text-align: center;
  font-size: 55px;
}

.about-title {
  font-size: 24px;
  margin-left: -120px;
}

.about-description {
  font-size: 18px;
}

/* service section styles */
.service-container {
  background-image: url("images/background.png"),
    linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
  color: white;
  padding: 50px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.box {
  width: 200px;
  height: 280px;
  padding: 15px;
  text-align: center;
  box-shadow: 4px 2px 105px gray;
  border-radius: 10px;
}

.icon {
  width: 70px;
  color: #2e2e2e;
}

.box-title {
  padding: 10px;
  font-size: 24px;
}

.btn-box {
  background-color: #1c1b1b;
}

/* footer section styles */
footer {
  background: black;
  color: white;
}
.footer-container {
  display: flex;
  width: 75%;
  height: 60vh;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px; */
  border-bottom: 1px solid gray;
}

.logo-box {
  width: 25%;
}

.logo-box img {
  width: 170px;
}

.footer-title {
  margin-bottom: 30px;
}

h3 {
  display: block;
  font-size: 19px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.copy {
  text-align: center;
  padding: 15px;
}
